version: '3.9'

services:
  mysql_db:
    image: mysql:8.0
    container_name: mysql-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: admin123
      MYSQL_DATABASE: users
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - 3T
  backend:
    build: ./backend
    container_name: backend
    restart: always
    depends_on:
      - mysql_db
    ports:
      - "3000:3000"
    networks:
      - 3T
  frontend:
    build: ./frontend
    container_name: frontend
    restart: always
    ports:
      - "80:80"
    networks:
      - 3T

volumes:
  mysql_data:

networks:
  3T:
    external: true
        
